@mixin create-font(
  $font-size: 14px,
  $font-weight: normal,
  $line-height: normal,
  $text-transform: none,
  $letter-space: normal,
  $font-family: 'Roboto'
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-space;
  font-family: $font-family;
  text-transform: $text-transform;
}

@mixin state($name: 'active', $active-value: 'true') {
  &[#{$name}='#{$active-value}'] {
    @content;
  }
}
